<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CleanProApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CleanProApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <applicationSettings>
    <CleanProApp.Properties.Settings>
      <setting name="P_Vel_Max" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="P_Vel_Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="P_Vel_Rto" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="P_Pos_Max" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="P_Pos_Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="P_Posl_Rto" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="W_Vel_Max" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="W_Vel_Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="W_Vel_Rto" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="W_Pos_Max" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="W_Pos_Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="W_Pos_Rto" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="C_Vel_Max" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="C_Vel_Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="C_Vel_Rto" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="C_Pos_Max" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="C_Pos_Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="C_Pos_Rto" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_Pow_Max" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_Pow_Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_Pow_Rto" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_WrT_Max" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_WrT_Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_WrT_Rto" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_SpT_Max" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_SpT_Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_SpT_Rto" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_Cyc_Max" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_Cyc_Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_Cyc_Rto" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_Ttt_Max" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_Ttt_Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_Ttt_Rto" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="V_Pow_Max" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="V_Pow_Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="V_Pow_Rto" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="V_WrT_Max" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="V_WrT_Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="V_WrT_Rto" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="V_SpT_Max" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="V_SpT_Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="V_SpT_Rto" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="V_Cyc_Max" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="V_Cyc_Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="V_Cyc_Rto" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="N_Dly_Max" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="N_Dly_Min" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="N_Dly_Rto" serializeAs="String">
        <value>1</value>
      </setting>
    </CleanProApp.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <CleanProApp.Properties.Settings>
      <setting name="W_Vel_K55" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="C_Vel_K08" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="C_Pos1_K26" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="C_Pos2_K12" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="C_Pos4_K59" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_Pow_K56" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_WrT_K29" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_SpT_K30" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_Cyc_K10" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="M_Ttt_K22" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="N_Dly_K06" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="V_Pow_Kvv" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="V_WrT_Kvv" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="V_SpT_Kvv" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="V_Cyc_Kvv" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="P_Vel_Kpp" serializeAs="String">
        <value>1</value>
      </setting>
    </CleanProApp.Properties.Settings>
  </userSettings>
</configuration>
